# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# 他妈的忘了的操作流程
# 切换到一个脱离主分支的另外一条全新主分支
#git checkout --orphan latest_branch
# 暂存所有改动过的文件，内容为当前旧分支的最新版本所有文件
#git add -A
#提交更改
#git commit -am "commit message"
#删除原始主分支
#git branch -D main
#将当前分支重命名为 main
#git branch -m main
#最后，强制更新您的存储库
# git push -f origin main

.cursorrules
/.cursor/


/public/project
/public/uploads

/prisma/*.db
/prisma/migrations
/doc

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

