# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# 他妈的忘了的操作流程
# 1. 先在.gitignore中添加需要忽略的文件
# 2. git rm --cached -r .       从索引中移除所有已跟踪的文件（不删除本地文件）
# 3. git commit -m "add .gitignore"
# 4. git push origin main
# 5. git status           


# git filter-branch --force --index-filter "git rm --cached --ignore-unmatch <file_or_directory>" --prune-empty --tag-name-filter cat -- --all

# git push origin --force --all


.cursorrules
/.cursor/


/public/project
/public/uploads

/prisma/*.db
/prisma/migrations
/doc

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# .env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

